<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="z.t.apollo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutActivity"
            android:label="@string/title_activity_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.LayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.LinearLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.RelativeLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.DialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatePickerDialogActivity"
            android:label="@string/title_activity_date_picker_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.DatePickerDialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableLayoutActivity"
            android:label="@string/title_activity_table_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.TableLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.FrameLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridLayoutActivity"
            android:label="@string/title_activity_grid_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.GridLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/title_activity_seek_bar" >
            <intent-filter>
                <action android:name="z.t.apollo.SeekBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressBarActivity"
            android:label="@string/title_activity_progress_bar" >
            <intent-filter>
                <action android:name="z.t.apollo.ProgressBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressDialogActivity"
            android:label="@string/title_activity_progress_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.ProgressDialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SundriesActivity"
            android:label="@string/title_activity_sundries" >
            <intent-filter>
                <action android:name="z.t.apollo.SundriesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
            <intent-filter>
                <action android:name="z.t.apollo.NotificationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>