<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="z.t.apollo.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LayoutActivity"
            android:label="@string/title_activity_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.LayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LinearLayoutActivity"
            android:label="@string/title_activity_linear_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.LinearLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RelativeLayoutActivity"
            android:label="@string/title_activity_relative_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.RelativeLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DialogActivity"
            android:label="@string/title_activity_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.DialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DatePickerDialogActivity"
            android:label="@string/title_activity_date_picker_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.DatePickerDialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TableLayoutActivity"
            android:label="@string/title_activity_table_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.TableLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FrameLayoutActivity"
            android:label="@string/title_activity_frame_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.FrameLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GridLayoutActivity"
            android:label="@string/title_activity_grid_layout" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.GridLayoutActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeekBarActivity"
            android:label="@string/title_activity_seek_bar" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.SeekBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressBarActivity"
            android:label="@string/title_activity_progress_bar" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.ProgressBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProgressDialogActivity"
            android:label="@string/title_activity_progress_dialog" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.ProgressDialogActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SundriesActivity"
            android:label="@string/title_activity_sundries" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.SundriesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NotificationActivity"
            android:label="@string/title_activity_notification" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.NotificationActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActionBarActivity"
            android:label="@string/title_activity_action_bar" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.ActionBarActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdapterViewActivity"
            android:label="@string/title_activity_adapter_view" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.AdapterViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AutoCompleteTextViewActivity"
            android:label="@string/title_activity_auto_complete_text_view" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.AutoCompleteTextViewActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ButtonActivity"
            android:label="@string/title_activity_button" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.ButtonActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".XmlActivity"
            android:label="@string/title_activity_xml" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.XmlActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AssetsActivity"
            android:label="@string/title_activity_assets" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.AssetsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SharedPreferencesActivity"
            android:label="@string/title_activity_shared_preferences" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.SharedPreferencesActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileSaveActivity"
            android:label="@string/title_activity_file_save" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.FileSaveActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SDSaveActivity"
            android:label="@string/title_activity_sdsave" >
            <intent-filter>

                <!-- <action android:name="z.t.apollo.SDSaveActivity" /> -->
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SQLiteActivity"
            android:label="@string/title_activity_sqlite" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.SQLiteActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FileListActivity"
            android:label="@string/title_activity_file_list" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.FileListActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".TabNavActivity" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.TabNavActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BaseSampleActivity"
            android:label="@string/title_activity_base_sample" >
        </activity>
        <activity
            android:name=".ListviewRefresActivity"
            android:label="@string/title_activity_listview_refres" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.ListviewRefresActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SensorActivity"
            android:label="@string/title_activity_sensor" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.SensorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MotionSensorActivity"
            android:label="@string/title_activity_motion_sersor" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.MotionSersorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentActivity"
            android:label="@string/title_activity_fragment" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.FragmentActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu" >
            <intent-filter>
                <action android:name="z.t.apollo.activity.MenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>